/* HOME */
* {
  margin: 0;
  padding: 0;
}

.nav-container h1 {
  background: #640000;
  color: white;
  text-align: center;
}

.menu-container {
  display: flex;
  background: #640000;
  align-items: center;
  justify-content: space-evenly;
}

.menu-container a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
}

.app-container * {
  margin-top: 2rem;
}

.app-container {
  text-align: center;
}

.img-profile {
  display: flex;
  justify-content: space-around;
}

.img-profile img {
  width: 250px;
  height: 250px;
}

/*FORM STYLE*/

.body-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.body-form * {
  margin-top: 5px;
  list-style-type: none;
}

/* Luiz profile Page */

.luiz-profile {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.luiz-profile h2 {
  text-align: center;
  font-size: 40px;
}

/* Vinicius profile page */

.vinicius-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.vinicius-profile h2 {
  text-align: center;
  font-size: 40px;
}

.vinicius-profile img {
  width: 500px;
}

/* Tabela de Curiosidades */

.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  margin-top: 30px;
}

.table-curiosidade table {
  margin-top: 100px;
  max-width: 100vmax;
  width: 1200px;
  text-align: left;
}

/* Filmes favoritos */

.movie-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-size: 20px;
}

.movie-conteudo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.movie-container h2 {
  margin-left: auto;
  margin-right: auto;
}
