/* HOME */
* {
  margin: 0;
  padding: 0;
}

.nav-container h1 {
  background: #640000;
  color: white;
  text-align: center;
}

.menu-container {
  display: flex; /* display: flex serve para organizar os elementos dentro da pagina de forma dinâmica */
  background: #640000;
  align-items: center;
  justify-content: space-evenly; /* justify-content serve para alinhar os elementos no eixo principal //  space-evenly: ditribui os itens de forma igual com o mesmo espaçamento entre eles*/
}

.menu-container a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 5px;
}

.app-container * {
  margin-top: 2rem;
}

.app-container {
  text-align: center;
}

.img-profile {
  display: flex;
  justify-content: space-around;
}

.img-profile img {
  width: 250px;
  height: 250px;
}

/*FORM STYLE*/

.body-form {
  display: flex;
  align-items: center;
  flex-direction: column; /* flex-direction: ele defini de qual forma o display flex vai se comportar no caso ele esta deifnindo como coluna(column)*/
  margin-top: 20px;
}

.body-form * {
  margin-top: 5px;
  list-style-type: none;
}

/* Luiz profile Page */

.luiz-profile {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
  width: 600px;
}

.luiz-profile h2 {
  text-align: center;
  font-size: 40px;
}

/* Vinicius profile page */

.vinicius-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0 auto;
  width: 600px;
}

.vinicius-profile h2 {
  text-align: center;
  font-size: 40px;
}

.vinicius-profile img {
  width: 500px;
}

/* Tabela de Curiosidades */

.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  margin-top: 30px;
}

.table-curiosidade table {
  margin-top: 100px;
  max-width: 100vmax;
  width: 1200px;
  text-align: left;
}

/* Sites favoritos */

.sites-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-size: 20px;
}

.sites-conteudo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.sites-container h2 {
  margin: 0 auto 0 auto;
}

/* Contato */

.contato-container table {
  position: relative; /* position serve para poder posicionar o elemento // relative diz a forma com que ele vai ser comportar diante outros elementos*/
  top: 30px; /*top/bottom/left/right da espaçamento no  elemento saindo apenas o conteudo e não o espaço da div na pagina*/
  margin: 50px;
  text-align: left;
  width: 800px;
  max-width: 100vmax;
}
